body {
  background-color: #ececec;
}

.brand-info {
  width: 50%;
  color: white;
  background-color: #494e55;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center
}

.main-div-welcome {
  width: 80%;
  height: 500px;
  box-shadow: 0 0 10px grey;
  margin: auto;
  margin-top: 100px;
  display: flex;
  justify-content: center
}

.login-form {
  width: 50%;
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center
}

.login-brand-info {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center
}

.login-form-heading {
  width: 50%;
}

@media(max-width:678px) {
  .brand-info {
    width: 100%;
    flex-direction: row;
    height: 30%;
  }
  .login-form {
    width: 100%;
    height: 70%;
  }
  .main-div-welcome {
    flex-direction: column;
  }
  .login-brand-info {
    display: none;
  }
  .login-form-heading{
    width: 80%;
  }
}